<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808857980277-qjenusr7plomdjt10oupo6c70hh9514g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808857980277-qjenusr7plomdjt10oupo6c70hh9514g</string>
	<key>API_KEY</key>
	<string>AIzaSyAoEVTYuEF64ssgJHlG4NXycNEgjpt0vF4</string>
	<key>GCM_SENDER_ID</key>
	<string>808857980277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scannerBigbrother</string>
	<key>PROJECT_ID</key>
	<string>yuka-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>yuka-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808857980277:ios:ef5c7289bf0c288769d73c</string>
	<key>DATABASE_URL</key>
	<string>https://yuka-flutter.firebaseio.com</string>
</dict>
</plist>